h2,
p,
a,
label,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

body {
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: slategrey;
  border: solid;
  border-color: skyblue;
  border-radius: 10px;
}

h2 {
  border-bottom: solid;
  border-radius: 5px;
}

p {
  max-width: 75%;
}

span {
  margin: 0;
}

label,
#clickText {
  font-size: 22px;
}

img {
  margin: 10px;
  border: solid;
  border-color: skyblue;
  border-radius: 10px;
}

button {
  margin: 10px;
  height: 50px;
  width: 200px;
  background-color: red;
  font-size: 30px;
  color: white;
  border-radius: 10px;
}
